body {
  background-color: #f10c0c;
}
.div{
  background-color: #f10c0c;
  width: 100%;
  height: 100%;
}
.grid {
  
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr; 
  grid-template-columns: 1fr 1fr 1fr;

  grid-gap: 10px;
} 
 

.box {
  width: auto;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 15px;
  color: #d5ddce;
}
